*.csv filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.keras filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.cbm filter=lfs diff=lfs merge=lfs -text
apps/ml-service/app/models/*.json filter=lfs diff=lfs merge=lfs -text
ml-pipeline/src/models/*.json filter=lfs diff=lfs merge=lfs -text
